# Deny access to .htaccess
<Files .htaccess>
  Order allow,deny
  Deny from all
</Files>

Options -Indexes -MultiViews +FollowSymLinks

order allow,deny
allow from all

####################################################### CACHING, EXPIRATION AND COMPRESSION

<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/plain text/html text/xml text/css text/javascript application/xml application/xhtml+xml application/rss+xml application/atom_xml application/javascript application/x-javascript
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType text/javascript "access plus 1 hour"
  ExpiresByType text/html "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 hour"
  ExpiresByType image/gif "access plus 1 month"
  ExpiresByType image/jpeg "access plus 1 month"
  ExpiresByType image/png "access plus 1 month"
  ExpiresByType image/x-icon "access plus 1 month"
  ExpiresByType image/svg "access plus 1 month"
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "\.(ico|jpe?g|png|gif|webp)$">
    Header set Cache-Control "max-age=2592000, public"
  </FilesMatch>
  <FilesMatch "\.(css)$">
    Header set Cache-Control "max-age=604800, public"
  </FilesMatch>
  <FilesMatch "\.(js)$">
    Header set Cache-Control "max-age=3600, private"
  </FilesMatch>
</IfModule>

<IfModule mod_deflate.c>
  <FilesMatch "\.(js|jpg|jpeg|gif|png|css|webp)$">
    ExpiresActive on
    ExpiresDefault "access plus 1 month"
    SetOutputFilter DEFLATE
  </FilesMatch>
</IfModule>

# CORS
<IfModule mod_headers.c>
  Header add Access-Control-Allow-Origin "*"
  Header add Access-Control-Allow-Headers "origin, x-requested-with, content-type"
  Header add Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"
</IfModule>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.php [NC,L]
