/* Main Layout */

/* NAVBAR */
/* Styles for the <header> element */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(50px + (90 - 50) * ((100vw - 375px) / (1600 - 375)));
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Add this line to horizontally align the logo and nav */
}

.icon-container {
  position: fixed;
  top: 10px;
  right: 0;
  z-index: 9999;
}

/* Style for the hamburger and close icons */
.hamburger-icon, .close-icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  fill: white;
  margin-right: 15px;
}

.hamburger-icon {
  display: none;
}

.hidden {
  display: none !important;
}

.mobile-menu {
  display: none; /* Initially hide the mobile menu */
}



.logo {
  margin-left: 25px; /* Adjust the margin as needed */
  height: calc(100% - 50px); /* Calculate the height, considering 20px padding top and bottom */
  display: flex;
  align-items: center; /* Center the logo vertically within the header */
  position: relative;
  z-index: 10000;
}

.logo a {
  height: 100%; /* Make the anchor fill the height of the .logo container */
  display: flex;
  align-items: center;
  text-decoration: none; /* Remove underline from the anchor */
  color: inherit; /* Inherit the text color from the parent */
}

/* Style for the logo on smaller screens */
@media (max-width: 1199px) {
  .logo {
    margin-left: 20px; /* Adjust the margin as needed */
    height: calc(100% - 40px); /* Calculate the height, considering 20px padding top and bottom */
  }
}

/* Style for the logo on smaller screens */
@media (max-width: 1023px) {
  .logo {
    margin-left: 10px; /* Adjust the margin as needed */
    height: calc(100% - 20px); /* Calculate the height, considering 20px padding top and bottom */
  }

  nav {
    display: none;
  }

  /* Show the hamburger menu icon */
  .hamburger-icon {
    display: block;
  }

  /* Style for the mobile menu */
  .mobile-menu {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--col-pri-black);
    display: flex;
    flex-direction: column;
    z-index: 9998;
    padding-left: 40px;
    padding-top: 0;
  }

  .mobile-menu ul {
    list-style: none;
    padding: 60px 0;
  }

  .mobile-menu li {
    margin-top: 30px;
    font-family: var(--txt-display);
    font-size: var(--type-xl);
  }

  .mobile-menu a {
    text-decoration: none;
  }

  /* Style for the close button (X icon) */
  .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
  }
}

.logo img {
  height: 100%; /* Make the image fill the height of the .logo container */
  width: auto; /* Maintain the aspect ratio */
}

/* Style for the navigation bar */
nav {
  margin-right: 20px; /* Adjust the margin as needed */
  margin-left: auto; /* Place nav on the right side of the header */
}

/* Style for the navigation links */
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav li {
  margin-right: 30px; /* Adjust the margin between navigation items */
}

nav li:last-child {
  margin-right: 0; /* Adjust the margin between navigation items */
}

nav a {
  text-decoration: none;
  letter-spacing: 1px;
  font-size: var(--type-micro);
}










main {
  margin-left: 20px;
  margin-right: 20px;

}

/* Hide the horizontal scrollbar */
main::-webkit-scrollbar {
  width: 0.1em;
  height: 0.1em;
}

main::-webkit-scrollbar-track {
  background: transparent;
}

main::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: none;
}

section {
  padding-top: calc(80px + (160 - 80) * ((100vw - 375px) / (1600 - 375)));
  padding-bottom: 0;
  margin-left: calc(0px + (120 - 0) * ((100vw - 375px) / (1600 - 375)));
  margin-right: calc(0px + (120 - 0) * ((100vw - 375px) / (1600 - 375)));
}

section:last-child {
  padding-bottom: calc(80px + (160 - 80) * ((100vw - 375px) / (1600 - 375)));
}




footer {
  padding: calc(20px + (80 - 20) * ((100vw - 375px) / (1600 - 375)));
}

@media (max-width: 767px) {
  footer .footer-logo {
    margin-bottom:60px;
  }

  footer ul {
    margin-bottom:60px;
  }
}

footer ul li h4 {
  margin-bottom:20px;
}

footer li {
  font-size: var(--type-tiny);
  margin-bottom:10px;
}



/* IMAGE GALLERY */
/* Style the gallery container */
.gallery-container {
  position: relative;
  overflow: hidden;
  max-height: 100vh; /* Set the maximum height to the viewport height */
}

/* Style the gallery to display slides horizontally */
.gallery {
  display: flex;
  overflow-x: hidden; /* Change this line */
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  border-radius: calc(15px + (40 - 15) * ((100vw - 375px) / (1600 - 375)));
}

/* Style individual gallery slides */
.gallery-slide {
  flex-shrink: 0;
  scroll-snap-align: start;
  width:100%;
}

.gallery-container img {
  max-width: 100%;
  height: auto;
}

/* Style the bullet navigation */
.gallery-bullets {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  align-items: center; /* Vertically center the bullets */
  height:20px;
}

/* Style individual bullet indicators */
.gallery-bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--col-pri-lille);
  margin: 0 5px;
  cursor: pointer;
  transition: all 0.3s ease; /* Add smooth transition for bullet size change */
}

/* Style the active bullet */
.gallery-bullet.active {
  background-color: var(--col-pri-yellow);
  width: 15px;
  height: 15px;
  transform: scale(1.2); /* Increase size of active bullet */
}



/* HERO STAGE */
/* Create a container for the hero section */
.hero {
  position: relative;
  height: 100vh; /* This ensures the container fills the entire viewport height */
  background-image: url('https://res.cloudinary.com/migrapreneur/image/upload/v1694777170/migra24/common/migra24-header.jpg'); /* Replace 'your-image.jpg' with your image URL */
  background-size: cover;
  background-position: center;
  color: var(--col-pri-white);
  display: flex;
  flex-direction: column;
}

@media (max-width: 1023px) {
  .hero {
    background-image: url('https://res.cloudinary.com/migrapreneur/image/upload/c_fill,g_faces:auto,h_800,w_1024/v1694777170/migra24/common/migra24-header.jpg'); /* Replace 'your-image.jpg' with your image URL */
  }
}

@media (max-width: 460px) {
  .hero {
    background-image: url('https://res.cloudinary.com/migrapreneur/image/upload/c_fill,g_faces:auto,h_800,w_460/v1694777170/migra24/common/migra24-header.jpg'); /* Replace 'your-image.jpg' with your image URL */
  }
}


/* Add some overlay to the background image */
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 24, 39, 0.1); /* Adjust the opacity as needed */
}

/* Style the text inside the hero section */
.hero-text {
  z-index: 1;
}

#countdown {
  display:inline-block;
  font-family: var(--txt-standard);
  padding: calc(15px + (30 - 15) * ((100vw - 375px) / (1600 - 375)));
  border-radius:60px;
}

/* Default styles for the flex container */
.hero-cta-container {
    display: inline-flex;
    justify-content: space-between; /* Horizontal alignment for desktop */
    gap: 10px; /* Gap between items (both horizontal and vertical) */
}

/* Style for the "Buy Tickets" button */
.hero-cta-container .btn {
    width: 110px; /* Set a fixed width for the button */
}

/* Media query for mobile devices (adjust the breakpoint as needed) */
@media (max-width: 768px) {
    .hero-cta-container {
        flex-direction: column; /* Vertical alignment for mobile */
    }
}

.hero-secondary .text {
  padding:calc(20px + (60 - 20) * ((100vw - 375px) / (1600 - 375)));
}



/* Media query for mobile devices (adjust the breakpoint as needed) */
@media (max-width: 768px) {
  .hero-secondary .text {
    padding:40px 40px !important;
  }
}


/* Speaker List Slider */

.card-list-container {
  overflow: hidden; /* Hide the horizontal scrollbar */
  position: relative;
  width: 100%;
}

/* Add a small blur on the right side of the card list container */
.card-list-container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 100%;
  background: linear-gradient(to right, transparent, rgba(17, 24, 39, 0.7), rgba(17, 24, 39, 1), rgba(17, 24, 39, 1)); /* Adjust the gradient as needed */
  pointer-events: none; /* Ensure the pseudo-element is not interactive */
}



.card-list {
  display: flex;
  gap: 20px;
  /* Enable horizontal scrolling and set snap type */
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
  margin-right:20px
}

/* Hide the horizontal scrollbar */
.card-list::-webkit-scrollbar {
  display: none;
}


.card {
  width: calc(280px + (280 - 280) * ((100vw - 375px) / (1600 - 375)));
  flex-shrink: 0;
  scroll-snap-align: start; /* Snap cards to the start of the container */
}

.card-text {
  margin-top: 20px;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: calc(20px + (40 - 20) * ((100vw - 375px) / (1600 - 375)));
  border: 1px solid transparent;
}

/* Add hover effect for cards */
.card img {
  border: 1px solid transparent; /* Initial border style for the image */
  transition: border-color 0.3s ease-in-out; /* Apply the transition to the image */
}

.card:hover img {
  border-color: var(--col-pri-turquoise); /* Change the border color on hover */
}

.card:hover .card-text h3,
.card:hover .card-text p {
  color: var(--col-pri-turquoise); /* Change the text color on hover */
}

/* Responsive styles */
@media (max-width: 1024px) {
  .card-list-container::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    background: linear-gradient(to right, transparent, rgba(17, 24, 39, 0.7), rgba(17, 24, 39, 1)); /* Adjust the gradient as needed */
    pointer-events: none; /* Ensure the pseudo-element is not interactive */
  }
  .card-list {
    margin-right:20px
  }
}


/* TABLES */
.table-container {
  max-width: 100%;
  overflow-x: auto;
  display: block; /* Ensure the container takes full width */
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid white;
  padding: 20px;
  text-align: left;
  min-width: 100px; /* Define a minimum width for cells */
  max-width: 420px; /* Define a maximum width for cells */
  font-feature-settings: 'tnum'; /* Activate tabular numbers */
  font-size: var(--type-micro);
  letter-spacing: 1px;
}

td.right {
  text-align: right;
}

th.right {
  text-align: right;
}

/* Fix the first column on smaller screens */
@media (max-width: 1024px) {
  .table-container {
    overflow-x: scroll;
    border-left: 1px solid white; /* Add this line to keep the left border visible */
  }
  th:first-child, td:first-child {
    position: sticky;
    left: 0;
    background-color: var(--col-pri-lille);
    z-index: 1;
    border-right: 1px solid white; /* Add this line to keep the right border visible */
    min-width: 100px !important; /* Adjust the width as needed */
    max-width: 100px !important; /* Ensure the max-width is also set to the same value */
  }
}


/* HIGHLIGHT BOX */

/* Default styles for list items */
.highlight-box li {
    font-family: var(--txt-display);
    font-size: var(--type-s);
    padding: 20px;
    box-shadow: 0 0 0 1px white; /* Use box-shadow instead of border */
}

/* Remove box-shadow from the second li element */
.highlight-box li:nth-child(2) {
    box-shadow: 0px -1px 0 0px white, 0px 1px 0px 0px white /* Use box-shadow instead of border */
}

/* Media query for mobile (vertical alignment) */
@media (max-width: 767px) {
    .highlight-box {
        display: flex;
        flex-direction: column; /* Align vertically on mobile */

    }

    .highlight-box li {
        box-shadow: 0 0 0 1px white; /* Use box-shadow instead of border */
    }

    .highlight-box li:nth-child(2) {
        box-shadow: -1px 0px 0 0px white, 1px 0px 0px 0px white /* Use box-shadow instead of border */
    }
}

/* Media query for desktop (horizontal alignment) */
@media (min-width: 768px) {
    .highlight-box {
        display: flex;
        justify-content: space-between; /* Align horizontally on desktop */
    }
}



/* TICKETS */

.ticket-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four columns */
  grid-gap: 20px; /* Horizontal gap */
  row-gap: 20px; /* Vertical gap */
  align-items: stretch; /* Make all items the same height */
}

/* Media query for screens with a maximum width of 768px (typical for mobile screens) */
@media (max-width: 1280px) {
  .ticket-container {
    grid-template-columns: repeat(2, 1fr); /* Four columns */
  }
}


/* Media query for screens with a maximum width of 768px (typical for mobile screens) */
@media (max-width: 768px) {
  .ticket-container {
    grid-template-columns: 1fr; /* Single column for mobile */
  }
}

.price-tag {
  display: flex;
  align-items: center; /* Vertically center items */
  letter-spacing:1px;
}

.price {
  font-family: var(--txt-bold);
  font-size: var(--type-tiny);
}

.line {
  border-top: 2px solid var(--col-pri-black); /* Horizontal line */
  flex-grow: 1; /* Expand to fill available space */
  margin: 0 10px; /* Add spacing on both sides */
}

.denominator {
  font-size: var(--type-micro);
}

/* PARTNERS */
.partner-logos {
  max-width: 100%; /* Ensure the section fits within its container */
  margin: 0 auto; /* Center the section horizontally */
}

.partner-list {
  list-style: none; /* Remove default list bullets */
  display: flex; /* Display logos in a horizontal row */
  flex-wrap: wrap; /* Wrap logos to the next line when there's not enough space */
  justify-content: space-between; /* Distribute logos horizontally with equal spacing */
}

.partner-item {
  flex: 0 0 auto; /* Let each item have a width based on its content */
  margin-bottom: 30px; /* Add space below each partner item */
  max-width: none; /* Remove the max-width constraint */
  padding:calc(10px + (20 - 10) * ((100vw - 375px) / (1600 - 375)));
}

.partner-item:last-child {
  margin-right: 0; /* Remove margin-right for the last item in each row */
}




.partner-item img {
  display: block; /* Remove image default spacing */
  width: auto; /* Ensure the image fits within its container */
  max-height: 40px; /* Maintain the image's aspect ratio */
}

/* Style the FAQ items */
.faq-item {
  margin-bottom: 20px;
}

/* Hide the checkbox inputs */
.faq-toggle {
  display: none;
}

/* Style the question labels */
.faq-question {
  background-color: var(--col-pri-black);
  border: 1px solid var(--col-pri-white);
  border-top:0;
  border-left:0;
  border-right:0;
  color: var(--col-pri-white);
  padding: 20px;
  text-align: left;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease-in-out;
  font-size: var(--type-xxxs);
  font-family: var(--txt-bold);
  user-select: none; /* Make the text non-selectable */
}

/* Style the plus/minus icons */
.faq-question::before {
  content: ''; /* Remove the text content */
    position: absolute;
    top: 50%; /* Vertically center the icon */
    right: 20px;
    transform: translateY(-50%); /* Vertically centering transform */
    width: 16px; /* Adjust the width and height based on your SVG size */
    height: 16px;
    background-repeat: no-repeat;
    background-size: contain;

  /* Set the background image for the plus sign */
  background-image: url('../_images/faq-plus.svg'); /* Replace with your SVG path */

  transition: content 0.3s ease-in-out;
}

/* Add styles for the expanded state */
.faq-toggle:checked + .faq-question {
  background-color: var(--col-pri-black);
  border: 1px solid var(--col-pri-white);
  border-top:0;
  border-left:0;
  border-right:0;
  color: var(--col-pri-white);
}

/* Add styles for the expanded state */
.faq-toggle:checked + .faq-question::before {
  /* Set the background image for the minus sign */
  background-image: url('../_images/faq-minus.svg'); /* Replace with your SVG path */
}

/* Style the answer (initially hidden) */
.faq-answer {
  max-height: 0;
  overflow: hidden;
  padding: 0 20px;
  opacity: 0;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, padding 0.3s ease-in-out;
  font-size: var(--type-tiny);
  line-height: 1.4em;
  font-family: var(--txt-standard);
}

/* Toggle the answer visibility when the label is clicked */
.faq-toggle:checked + .faq-question + .faq-answer {
  max-height: 1000px;
  opacity: 1;
  padding: 20px;
}
